{% extends "base.html.twig" %}

{% block body %}
	<header>
		<a href="{{path('home_main')}}"><h1>Hello World</h1><a/>

		</header>

		<main>
			{# Ici on injecte le contenu des pages #}
			{% block content %}{% endblock content %}
		</main>

		<footer></footer>
{% endblock body %}
